body{
  background-color: #ffffff;
}
.nav{
    width: 310px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    padding-top: 50px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: opacity .5s;
}
button{
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #03bb56;
    color: #fff;
    cursor: pointer;
}
.save{
    background-color: #0f65d4;
}