* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.block-item tr td{
    font-size: 55px;
    border: 5px solid black;
    width: 7%;
}
table {
    border-collapse: collapse;
}
ul li{
  list-style-type: none;
}
.nigers{
    display: flex;
    text-align: right;
}
.block-item img{
    width: 50%;
}
tr td{
    padding: 25px;
}